phone = "(max-width: 480px)";

*
  box-sizing border-box

.calculator-osago
  width 900px
  margin 10px auto 60px auto
  font-family: 'Roboto', sans-serif;
  font-size 14px

  @media phone
    width auto
    margin-right 5px
    margin-left 5px

  a
    color #30a213
    transition: all .3s;
    &:hover
      color #ff9907
    &.remove
      background-image url(/assets/cross-red.png)
      background-repeat no-repeat
      width 8px
      height 8px
      display inline-block
      text-indent -999px
      overflow hidden
    &.add
      font-weight bold
      padding-left 30px
      display inline-block
      position relative
      text-decoration none
      &:before
        content '+'
        color inherit
        position absolute
        left 0
        top 0
    &.back
      font-weight bold
      padding-left 26px
      display inline-block
      position relative
      text-decoration none
      &:before
        content '\02039'
        color inherit
        position absolute
        font-size 20px
        line-height 16px
        left 0
        top 0


  button
    background-color #30a213
    color #ffffff
    color: #fff;
    border: none;
    padding: 20px 24px;
    border-radius: 2px
    transition: all .3s;
    &:hover
      background-color #298a11
    @media phone
      width 100%

  h1
    font-weight 300
    font-size 36px
    clear both

  h2
    font-weight 30
    clear both

  .row-group
    clear both
    &:after
      display table
      content ''
      clear both

  .form-group
    margin-bottom 27px
    width 270px
    margin-right 30px
    float left
    &.-one
      width 40px
      margin-right 0
      padding-top 45px
      @media phone
        width 0
    &.-half
      width 120px
      @media phone
        width 40%
    &.-double
      width 570px
      &.-minusone
        width 530px
        @media phone
          width 90%
      @media phone
        width 100%
    &.-full
      width auto
      float none
      @media phone
        width 100%

    @media phone
      width 100%

    .title
      color #8996ab
      margin-bottom 14px

  .price
    font-size: 71px;
    font-weight: 300;
    line-height: 70px;
    color #30a213
    @media phone
      font-size 30px
      line-height 1.4

  .base-price
    margin-top: 8px;
    color #8996ab
    .number
      color #000000

  .table
    margin-top: 40px;
    margin-bottom 17px
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    display table
    width 100%
    @media block
      width 100%

    .cell
      display table-cell
      @media phone
        display block
      .key
        padding 26px 10px 10px 0px
        font-size 14px
        white-space: pre-line;
        color #8996ab
        @media phone
          width 50%
          display inline-block
          text-align right
          padding-right 10px
      .value
        padding 4px 10px 25px 0px
        font-size 24px
        @media phone
          width 50%
          display inline-block
