phone = "(max-width: 540px)";
tablet = "(max-width: 768px)";
middle = "(min-width: 991px) and (max-width: 1199px)";
basewidth = 900px

*
  box-sizing border-box

.calculator-osago
  width auto
  max-width basewidth
  margin 10px percentage(-30px / basewidth / 2) 60px percentage(-30px / basewidth / 2)
  font-family: 'RobotoRegular', sans-serif;
  font-size 14px

  @media phone
    width 100%

  a
    color #30a213
    transition: all .3s;
    box-shadow: none!important;
    &:hover
      color #ff9907
    &.remove
      background-image url(/assets/cross-red.png)
      background-repeat no-repeat
      width 8px
      height 8px
      display inline-block
      text-indent -999px
      overflow hidden
    &.add
      font-weight bold
      padding-left 30px
      display inline-block
      position relative
      text-decoration none
      &:before
        content '+'
        color inherit
        position absolute
        left 0
        top 0
    &.back
      font-weight bold
      padding-left 26px
      display inline-block
      position relative
      text-decoration none
      margin-top 17px
      &:before
        content '\02039'
        color inherit
        position absolute
        font-size 20px
        line-height 16px
        left 0
        top 0


  button
    background-color #30a213
    color #ffffff
    color: #fff;
    border: none;
    padding: 20px 24px;
    border-radius: 2px
    transition: all .3s;
    margin-left percentage(30px / basewidth / 2)
    &:hover
      background-color #298a11
    @media phone
      width 100%

  h2.title
    font-weight 300
    font-size 36px
    clear both
    margin-left percentage(30px / basewidth / 2)
    margin-top 0.83em
    margin-bottom 0.83em

  h3.title
    font-weight 300
    font-size 32px
    clear both
    margin-left percentage(30px / basewidth / 2)
    margin-top 0.83em
    margin-bottom 0.83em

  .row-group
    clear both
    &:after
      display table
      content ''
      clear both

  .form-group
    margin-bottom 27px
    width percentage( 270px / basewidth )
    margin-right percentage(30px / basewidth / 2)
    margin-left percentage(30px / basewidth / 2)
    float left

    @media middle
      width percentage(420px / basewidth)

    @media tablet
      width percentage(420px / basewidth)


    &.-one
      width percentage(40px / basewidth)
      margin-right 0
      margin-left 0
      padding-top 45px
      @media phone
        width 0
    &.-half
      width percentage(120px / basewidth)
      @media phone
        width 40%
    &.-double
      width percentage(570px / basewidth)
      &.-minusone
        width percentage(530px / basewidth)
        @media phone
          width 90%
      @media phone
        width 100%
    &.-full
      width auto
      float none
      @media phone
        width 100%

    @media phone
      width 100%

    .title
      color #8996ab
      margin-bottom 14px
      white-space nowrap

  .price
    font-size: 71px;
    font-weight: 300;
    line-height: 70px;
    color #30a213
    margin-left percentage(30px / basewidth / 2)
    margin-right percentage(30px / basewidth / 2)
    font-family "Roboto", sans-serif
    font-weight 100
    @media phone
      font-size 30px
      line-height 1.4

  .base-price
    margin-top: 8px;
    color #8996ab
    margin-left percentage(30px / basewidth / 2)
    margin-right percentage(30px / basewidth / 2)
    .number
      color #000000

  .table
    margin-top: 40px;
    margin-bottom 17px
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    display table
    width auto
    margin-left percentage(30px / basewidth / 2)
    margin-right percentage(30px / basewidth / 2)
    @media phone
      display none

    .cell
      display table-cell
      @media phone
        display block
      .key
        padding 26px 10px 10px 0px
        font-size 14px
        white-space: pre-line;
        color #8996ab
        @media phone
          width 50%
          display inline-block
          text-align right
          padding-right 10px
      .value
        padding 4px 10px 25px 0px
        font-size 24px
        @media phone
          width 50%
          display inline-block
